<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <solution>
    <add key="disableSourceControlIntegration" value="true" />
  </solution>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="TeamCity" value="https://teamcity.groupfour.com.au/httpAuth/app/nuget/feed/_Root/NuGetFeed/v2" />
  </packageSources>  
  <packageSourceCredentials>
    <TeamCity>
      <add key="Username" value="appsupport" />
      <add key="ClearTextPassword" value="iloveit00.." />
    </TeamCity>
  </packageSourceCredentials>
</configuration>